<div class="container">
  <di class="row mx-auto">
    <div class="col-sm-6-mx-auto">

          <h2 class="text-center mt-3">新規登録ページ</h2>
          <h2 class="text-center mb-3">いい出会いがありますことを祈っております(*´σｰ｀)</h2>
          <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="card mx-auto text-center" style="width: 18rem;">
            <div class="card-header">
              ＊18歳以下の方はお戻りください
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= f.label :ニックネーム %><%= f.text_field :name, autofocus: true, autocomplete: "email" %></li>
              <li class="list-group-item"><%= f.label :年齢（年齢確認あり） %><%= f.text_field :age %></li>
              <li class="list-group-item"><%= f.label :住所（都道府県） %><%= f.text_field :address %></li>
              <li class="list-group-item"><%= f.label :性別： %><%= f.label :男性 %><%= f.radio_button :sex, :man %><%= f.label :女性 %><%= f.radio_button :sex, :woman%></li>
              <li class="list-group-item"><%= f.label :プレイ中のゲーム（正式名） %><%= f.text_field :playing_game %></li>
              <li class="list-group-item"> <%= f.label :メールアドレス %><%= f.email_field :email, autofocus: true, autocomplete: "email" %></li>
              <li class="list-group-item"><%= f.label :パスワード %>
              <% if @minimum_password_length %>(<%= @minimum_password_length %> 最低6文字以上)
              <% end %><%= f.password_field :password, autocomplete: "new-password" %></li>
              <li class="list-group-item"> <%= f.label :確認用のパスワード %><%= f.password_field :password_confirmation, autocomplete: "new-password" %></li>
              <li class="list-group-item"> <%= f.submit "Sign up", class: "btn btn-success" %></li>
              <% end %>

            </ul>
          </div>
          <%= render "devise/shared/links" %>
        <div class="border">  
          ＊注意事項＊<br/>
          ・当サイトは、18歳以上の方向け利用なため、<br/>
          ・DM機能など特定の機能ご利用時名際には年齢確認を行っております。<br/>
          ・そのため虚偽の記載のないようお願いいたします。
        <div>

     </div>
   </div>
</div>