      <table class="mb-2 table table-hover">
        <% comments.each do |post_comment| %>
        <tr>
          <th width=50%><%= link_to user_path(post_comment.user) do %>
           <%= attachment_image_tag  post_comment.user, :profile_image, :fill,100,100, fallback: "no_image.jpg", size: "100x100" %>
           <% end %>
          </th>
          <th width=50%><%= post_comment.user.name %></th>
          <th></th>
        </tr>
        <tr>
          <th>
            <div class="rate_relative">
              <span id="star-rate-<%= post_comment.id %>"></span>
            </div>
          </th>
          <th></th>
        </tr>
        <tr>
          <th colspan="2"　class="text-left"><%= "コメント" %><br/>「<%= post_comment.content %>」</th>
          <th></th>
        </tr>
        <% end %>
    　</table>

    　 <script>
    　 <% comments.each do |post_comment| %>
          $('#star-rate-<%= post_comment.id %>').raty({
            starOn: "<%= asset_path("star-on.png") %>",
            starOff: "<%= asset_path("star-off.png") %>",
            starHalf: "<%= asset_path("star-half.png") %>",
            readOnly: true,<%#読み取り専用のコード%>
            half: true,<%# 半分評価の記述%>
            score: <%= post_comment.rate %><%#★評価の表示コード%>
          });
      <% end %>
       </script>