<% visitor = notifications.visitor %>
<% visited = notifications.visited %>
<div class="col-sm-12 mx-auto">
 <div class="form-inline">
  
  <span><%= link_to user_path(visitor) do %>
  <%= attachment_image_tag visitor, :profile_image, :fill,50,50, fallback: "no_image.jpg", size: "50x50" %>
  <% end %>
  </span>
  <strong><%= visitor.name %>さんが、</strong>
  <% case notifications.action %>
  <% when "follow" then %>
  <%= "あなたをフォローしましたよ！"%>
  <% when "like" then %>
  <%= "あなたの投稿にいいねしました！" %>
  <% when "comment" then %>
  <strong>あなたの<%= notifications.post.user.name %></strong>
  <%= "の投稿にコメントしました！" %>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notifications.created_at).upcase %>
  </div>
  <% end %>
 </div>
</div>