<div class="container">
  <div class="row">
    <div class="col-sm-6 m-5 mx-auto">
      <h2>グループ一覧ページ</h2>
       <%= form_with model: @groups,url: group_search_path(@groups), method: :get, local: true do |f| %>
       <%= f.text_field :keywords, value: @keywords %>
       <%= f.submit "カテゴリー検索",class: "mr-3" %><%= link_to "新規投稿", new_group_path, class: "btn btn-success col-4 text-center" %>
       <% end %>
       
        <% @groups.each do |group| %>
          <div class="mt-5 mb-2"><%= attachment_image_tag group, :image, :fill,450,350, fallback: "no_image.jpg", size: "450x350" %></div>
          <div><strong>グループ名：<%= group.name %></strong></div>
          <div><strong>カテゴリー：<%= group.genre %></strong></div>
          <div><strong>グループ人数：<%= group.users.count %>人</strong></div>
          <div><%= link_to "詳細", group_path(group), class: "btn btn-info col-4 mb-1" %></div>
        <% end %>
    </div>
  </div>
</div>