<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
    <%= form_with model: @group, local: true do |f| %>
    
    <div class="card">
  <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image cap"><title>Placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%">Image cap</text></svg>
  <div class="card-body">
    <h5 class="card-title">グループ作成の時きたり！！(☆∀☆)</h5>
    <p class="card-text">　注意）使用目的<br/>
    ①ゲームに関するグループにすること<br/>
    ②オフ会やイベントなどの際にご利用ください(^O^)<br/>
    ③グループ作成者のみグループメンバーに、イベント<br/>
    　　や説明などのメッセを送ることができます！<br/>
    ④勧誘や広告宣伝等の目的でご利用しないでください✖</p>
  </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> <%= f.label :グループ名 %>
        <%= f.text_field :name, class:"form-control" %></li>
      <li class="list-group-item"><%= f.label :グループ画像 %>
        <%= f.attachment_field :image, class: "form-control" %></li>
      <li class="list-group-item"> <%= f.label :ジャンル名 %>
        <%= f.text_field :genre, class: "form-control" %></li>
      <li class="list-group-item"> <%= f.label :グループ紹介 %>
        <%= f.text_field :introduction, class: "form-control" %></li>
    </ul>
  <div class="card-body">
    <a class="card-link"><%= f.submit "作成だぁぁー！！(。-∀-)" , class: "btn btn-success" %></a>
    <% end %>
  </div>
      </div>
    </div>
    </div>
  </div>
</div>