<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">

            <div class="mt-5 mb-2 text-center"><%= attachment_image_tag @group, :image, :fill,400,300, fallback: "no_image.jpg", size: "400x300" %></div>

             <session class="col-sm-12 mx-auto">
                    <div><strong>グループ名：<%= @group.name %></strong></div>
                    <div><strong>カテゴリー：<%= @group.genre %></strong></div>
                    <div><strong>グループ人数：<%= @group.users.count %>人</strong></div>
                    <div><strong>グールプ説明：<%= @group.introduction %></strong></div>
                    <%#条件分岐によってボタンの種類を変える%>
                    <% if @group.users.include?(current_user) %>
                     <%= link_to "脱退する", group_path(@group), method: :delete, class: "btn btn-danger" %>
                    <%# グループチャットのIDはルームのIDを入れている。%>
                     <%= link_to "グループチャット", group_chat_path(@group), class: "btn btn-success" %>
                    <% else %>
                     <%= link_to "参加する", group_join_path(@group), class: "btn btn-info" %></p>
                    <% end %>
                  </div>
                </div>
              </session>

      <h2 class="m-5 text-center">参加メンバー</h2>
          <% @users.each do |user| %>
            <%= render "users/index", user: user %>
          <% end %>

     </div>
  </div>
</div>


