<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <svg class="bd-placeholder-img" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Image"><title>placeholder</title><rect fill="#868e96" width="100%" height="100%"/><text fill="#dee2e6" dy=".3em" x="50%" y="50%"><%= attachment_image_tag @group, :image,:fill,100,100 %></text></svg>
               </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= @group.name %></h5>
                <p class="card-text"><%= @group.users.count %>人<br/>
                <% if @group.users.include?(current_user) %>
                <%= link_to "脱退する", group_path(@group), method: :delete %>
                <% else %>
                <%= link_to "参加する", group_join_path(@group) %><br><%= @group.introduction %></p>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>