<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
     <% if @user.id != current_user.id %>
      <%= attachment_image_tag @user, :profile_image, :fill,300,300, fall_back: "no_image.jpg", size: "300x300" %>
      <% else %>
      <%= attachment_image_tag current_user, :profile_image, :fill,300,300, fall_back: "no_image.jpg", size: "300x300" %>
      <% end %>
      <div class="row mx-auto">
        <table>
          <thead>
          <tr>
           <th>フォロー数</th>
           <th><%= link_to @user.followings.count, user_followings_path(@user) %></th>
          </tr>
          <tr>
           <th>フォロワー数</th>
           <th><%= link_to @user.followers.count, user_followers_path(@user) %></th>
          </tr>
          <tr>
          <% if current_user != @user %>
            <%= link_to 'Begin Chat', chat_path(@user.id) %>
          <% end %>
          <%= link_to "お問い合わせフォーム", new_contact_path %>
          </tr>
          <tr>
           <th>
            <div class="follow_<%= @user.id %>">
             <%= render "relationships/form", user: @user %>
            </div>
           </th>
          </tr>
          <tr>
           <th><%= link_to "新規投稿", new_post_path, class: "btn btn-success" %></th>
           <th><%= link_to "退会ページ", user_uns_path(@user), class: "btn btn-danger" %></th>
          </tr>
          <tr>
           <th width="200">MYプロフィール</th>
           <th width="200"><%= link_to edit_user_path(@user) do %>
           <i class="fas fa-user-cog"></i>
           <% end %>
           </th>
           <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
           <td>★名前★</td>
           <td><%= @user.name %></td>
          </tr>
          <tr>
           <td>★年齢★</td>
           <td><%= @user.age %></td>
          </tr>
          <tr>
           <td>★住所★</td>
           <td><%= @user.address %></td>
          </tr>
          <tr>
           <td>★プレイ中のゲーム ★</td>
           <td><%= @user.playing_game %></td>
          </tr>
          <tr>
           <td>★プロフィール★</td>
           <td></td>
          </tr>
          <tr>
           <td colspan="2" class=" border rounded">・<%= @user.introduction %></td>
           <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>