<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <h4 class="text-center mt-3 mb-3">グループチャット(´∀｀*)</h4>
        <table class="message table mt-3 mb-3">

          <thead>
              <tr>
                <th style="text-align: left; font-size: 20px;"><%= "(*´σｰ｀)リロードすると全ての会話が表示されるよ!"%></th>
                <th></th>
                <th style="text-align: right; font-size: 20px;"></th>
              </tr>
          </thead>
           <% @chats.each do |chat| %>
            <%= render "comment", chat: chat %>
           <% end %>
         </table>

        <div class="text-center">
         <%= form_with model: @chat, remote: true do |f| %>
          <%= f.text_field :message %>
          <%= f.hidden_field :room_id, value: @group.room.id %>
          <%= f.submit "送信(´・ω・｀)", class: "btn btn-success btn-sm chat-btn text-center" %>
         <% end %>
        </div>

      </div>
    </div>
  </div>