<div class="container">
  <div class="row">
    <div class="col-sm-12 mx-auto">
      <%= form_with model: @contact, local: true do |f| %>
        <div class="card mx-auto">
        <div class="card-body">
          <h5 class="card-title text-center">お問い合わせフォーム</h5>
          <p class="card-text"></p>
        </div>
        <ul class="list-group list-group-flush text-center">
          <li class="list-group-item"><%= f.label :お名前（フルネーム%></li>
          <li class="list-group-item"><%= f.text_field :name %></li>
          <li class="list-group-item"><%= f.label :電話番号, placeholder: "半角数字のみ" %></li>
          <li class="list-group-item"><%= f.text_field :phone_number %></li>
          <li class="list-group-item"><%= f.label :メールアドレス %></li>
          <li class="list-group-item"><%= f.text_field :email %></li>
          <li class="list-group-item"><%= f.label :お問い合わせ内容 %></li>
          <li class="list-group-item"><%= f.text_area :message, placeholder: "（注）なるべく詳細にお願いします。" , class: "col-sm-8" %></li>
          <li class="list-group-item"><%= f.submit "送信ヽ(´▽｀)/" , class: "btn  btn-success" %><a class="card-link"><%= link_to "お問い合わせしない！", users_path, class: "btn btn-danger" %></a></li>
        </ul>
      <% end %>
      </div>
    </div>
  </div>
</div>