      <div class="img__inner">
        <!--JS設定してから画像追加-->
        <%= image_tag"test1.jpg",class:"main-img"%>
        <%= image_tag"test2.jpg",class:"main-img"%>
        <%= image_tag"test3.jpg",class:"main-img"%>
        <%= image_tag"test4.jpg",class:"main-img"%>
        <%= image_tag"test5.jpg",class:"main-img"%>
      </div>

      <div class="text-center mb-5">
          <p><strong>Gameから始まる出会いへようこそ(; ･`д･´)</strong></p>
　　 <%= link_to "Signup🎮 ", new_user_registration_path, class: "btn btn-success text-center col-3" %>
　　 <%= link_to "Login🎮", new_user_session_path, class: "btn btn-info text-center col-3" %>
      </div>