<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h2 class="text-center">ログイン画面</h2>
      <%= form_with model: @user, url: user_session_path, local: true do |f| %>

          <div class="card mx-auto text-center" style="width: 18rem;">
            <div class="card-header">
            　忘れてないよね？(。-∀-)
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <%= f.label :メールアドレス %><%= f.email_field :email, autofocus: true, autocomplete: "email" %></li>
              <li class="list-group-item"><%= f.label :パスワード %><%= f.password_field :password, autocomplete: "current-password" %></li>
              <% if devise_mapping.rememberable? %>
              <li class="list-group-item"><%= f.label :確認パスワード %><%= f.password_field :password, autocomplete: "current-password" %></li>
              <li class="list-group-item"><%= f.submit "ログイン", class: "btn btn-success" %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
     </div>
    </div>
  </div>
</div>