<div class="container">
  <div clss="row">
    <div class="col-sm12 mx-auto">
        <h1 class="text-center">フォロー中の方のタイムライン</h1>

           <% @posts.each do |a_post| %>
            <div class="card m-3">
                <%= attachment_image_tag a_post, :image, fallback: "no_image.jpg" %>
               <div class="card-body">
                <h6 class="card-title"><%= link_to a_post.post_title, post_path(a_post) %><br/>投稿者:<%= a_post.user.name %> </h6>
                <p class="card-text"><%= a_post.description %></p>
                <p class="card-text">
                <div id="likes_btn_<%= a_post.id %>">
                <%= render "likes/like", post: a_post %>
                </div>
                <i class="fas fa-comment-dots" id="post_<%= a_post.id %>"></i><%= link_to a_post.comments.count, post_path(a_post)%><i class="fas fa-tags">
                  <% a_post.tags.each do |tag| %>
                  #<%= tag.name %>
                  <% end %>
                  </i></p>
              
                <p class="card-text"><small class="text-muted"><%= a_post.created_at.strftime("%Y/%m/%d %H:%M") %></small></p>
              </div>
            </div>
          <% end %>

    </div>
  </div>
</div>


