<div class="container">
  <div clss="row mx-auto">
    <div class="col-sm-12 mx-auto">
        <h1 class="text-center">タイムライン</h1>
        <h3 class="text-center"><%= link_to "TOP５Ranking", post_posts_ranking_path(@posts), class: "btn btn-dark" %>
        <%= link_to "フォロー中の方のタイムライン", edit_post_path(current_user), class: "btn btn-info" %>
        <%= link_to "昇順に並び替え", posts_path(sort: "created_at ASC"), class: "btn btn-success" %>
        <%= link_to "降順に並び替え", posts_path(sort: "created_at DESC"), class: "btn btn-danger" %></h3>
        <%= form_tag posts_path, method: :get, class: "boards__searchForm text-center" do %>
          <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
          {prompt: 'タグで絞り込み検索', onchange: 'submit(this.form);'} %>
        <% end %>
        <%= render "posts/index", posts: @posts %>
    </div>
  </div>
</div>