<div class="container">
  <div clss="row mx-auto">
    <div class="col-sm-12 mx-auto">
        <h1 class="text-center">タイムライン</h1>
        <h3 class="text-center"><%= link_to "TOP５Ranking", post_posts_ranking_path(@posts), class: "btn btn-dark" %>
        <%= link_to "フォロー中の方のタイムライン", edit_post_path(current_user), class: "btn btn-info" %>
        <%= link_to "昇順に並び替え", posts_path(sort: "created_at ASC"), class: "btn btn-success" %>
        <%= link_to "降順に並び替え", posts_path(sort: "created_at DESC"), class: "btn btn-danger" %></h3>
        <!--タグ検索するためのコード-->
        <%= form_tag posts_path, method: :get, class: "boards__searchForm text-center" do %>
        <!--セレクト名の属性がtag_idとなる。　ヘルパーメソッドにより（）の中身は、-->
        <!--Tag.all=対象となる選択リスト-->
        <!--id = optionのvalue-->
        <!--name = optionの表示名-->
        <!--params[:tag_id] = 何を選択状態とするのかtag_idとはtagとpostが紐づいている中間テーブルのカラム-->
        <!--↑↑　第４引数の指定によってGET通信でurlに含まれるidをtag_id　にすることができそのため検索後も選択した状態に出来ている。-->
        <!--ハッシュの中身は第三引数の内容になっている。つまりnameに関する情報promptでからのフォームに記載すること、-->
        <!--onchangeはクリックで作動するjsコードになっており、選択肢を選ぶとthis.formを作成するようになっている。-->
          <%= select_tag :tag_id, options_from_collection_for_select(Tag.all, :id, :name, params[:tag_id]),
          {prompt: 'タグで絞り込み検索', onchange: 'submit(this.form);'} %>
        <% end %>
        <%= render "posts/index", posts: @posts %>
    </div>
  </div>
</div>