<!DOCTYPE html>
<html>
  <head>
    <title>Getching</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--/font-awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!--/Font Awesome Animationを読み込むためのリンク先-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.css" type="text/css" media="all" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=devise-width,initial-scale=1">
  </head>

  <body>
    <header>
          <% if user_signed_in? %>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <div class="navbar-brand faa-float animated"><h3>
            <%= link_to users_path do %>
             <%= image_tag"logo.jpg", size: "120x70" %>
            <% end %>
          </h3></div>
           <div class="navbar-brand search-form">
            <%= form_with url: user_search_path(current_user), method: :get, local: true do |f| %>
              <%= f.text_field :keyword, value: @keyword %>
             <%= f.submit "検索" %>
            <% end %>
            </div>
          <% end %>
            <button class="navbar-toggler tex" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
             <% if user_signed_in? %>
                <li><%= link_to "MyPage", user_path(current_user), class: "fas fa-home faa-pulse animated nav-link text-light" %></li>
                <li><%= link_to "Group一覧", groups_path, class: "fas fa-users faa-pulse animated nav-link text-light" %></li>
                <li><%= link_to "タイムライン", posts_path , class: "fas fa-clock faa-pulse animated nav-link text-light" %></li>
                <li><%= link_to "マッチング",  user_relationships_index_path(current_user), class: "fas fa-heart faa-pulse animated nav-link text-light" %></li>
              <span class="fa-stack">
                <li>
                <% if unchecked_notifications.any?%>
                  <%= link_to notifications_path do %>
                   <i class="fas fa-bell fa-stack-2x"></i>
                   <i class="fas fa-circle n-circle fa-stack-1x"></i>
                  <% end %>
                <% else %>
                  <%= link_to notifications_path do %>
                   <i class="fas fa-bell fa-lg"></i>
                  <% end %>
                <% end %>
              </span>
             <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="wrapper">
      <h3 class="text-center mt-2 mb-2">
        <%= flash[:notice] %>
      </h3>
        <%= yield %>
    </div>

       <footer>
            <div class="mx-auto text-center bg-dark text-light">
             <%= link_to "お問い合わせフォーム", new_contact_path %>
                <div>株式会社Getching<br/>
                ・ 営業時間：　8:00　~　22:00<br/>
                ・ 営業場所:   新宿三丁目サンセットビル　23階<br/>
                ・ 企業情報:   令和三年設立、1部上場
                </div>
            </div>
       </footer>
  </body>



</html>
